<h1>Order History</h1>

<p *ngIf="!orderHistories"><em>No History Found</em></p>

<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;">
</div>

<table class='table table-striped' *ngIf="orderHistories">
  <thead>
    <tr>
      <th>Coffee Name</th>
      <th>Date Ordered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orderHistory of orderHistories">
      <td>{{ orderHistory.recipe.name }}</td>
      <td>{{ orderHistory.dateOrdered | date : medium}}</td>


    </tr>
  </tbody>
</table>

